@page
@model HaveComment.Pages.Comment.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comments</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments.Tittel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comments.Tittel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comments.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comments.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Comments.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
